@CHARSET "UTF-8";@CHARSET "UTF-8";


	/* ========TAG LAYOUT======== */

		* {
			font-family:'Hiragino Kaku Gothic Pro W3','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
			text-decoration:none;
		}

		body {
			margin:0;
			padding:0;
			line-height:1.6;
			letter-spacing:1px;
			font-family:Verdana,Helvetica,sans-serif;
			font-size:12px;
			color:#333;
			background:#fff;

		}

		header {
			margin:0 auto;
			padding:0;
			height:200px;
			background:black;
			text-align:center;
			color:#fff;
			font-size:80px;
			line-height: 200px;


		}



		table {
			text-align:left;
			margin:0 auto;
		}

		td {
			padding-left:10px;
		}

		footer {

		}

		h6 {
			margin:0 auto;
		}



}


	/* ========ID LAYOUT======== */

		#title {
			margin:0px auto;
			border:1px solid #333;
			text-align:center;
		}

		#main {
			padding-top:150px;
			padding-bottom:150px;
		}

		#container {
			background:#ffff80;
			text-align:center;

		}

		#form {
			height:200px;
			background:#fff;
		}

	/* ========CLASS LAYOUT======== */

		.errorMessage {
			color:#ff0000;
			/* border:1px solid black; */
		}

		.price_and_btns{
			margin-top:25px;
			margin-bottom:25px;
			font-size:20px;
		}

		.submit_btn_set{
			margin-top:10px;

		}
		.contents-btn-set{
			display: inline-block;
			margin-right: 10px;
			font-size:20px;
		}
