@CHARSET "UTF-8";

* {
	text-decoration:none;
}
#header {
	weight:100%;
	height:80px;
	background-color:black;
}
#headerLogo {
	position: relative;
	left: 60px;
	top: 10px;
	color:white;
	font-size:50px;
	font-weight:700px;
	font-family: 'Cinzel', serif;
font-family: 'Arizonia', cursive;
/* font-family: 'Cormorant Garamond', serif; */
/* font-family: 'PT Serif', serif; */
}

#headerSearch {
/* 	float:left; */
position:relative;
left:800px;
bottom:20px;
}

.right-list{
	position:relative;
	bottom:63px;
}
ul {
list-style: none;
}


li {
	float:right;
	margin-right:15px;
	font-size:15px;
}

/* #headerLogin { */
/* 	float:left; */
/* 	position:relative; */
/* left:270px; */
/* bottom:20px; */
}

/* #headerLogout { */
/* 	float:left; */
/* ; */
/* } */

/* #headerCart { */
/* /* 	float:left; */ */

/* } */

/* #headerMypage { */
/* /* 	float:left; */ */

/* } */
