@CHARSET "UTF-8";


	footer {
	position:relative;
	top:400px;
		width:100%;
		height:100px;
	background-image:url("../images/header4.gif");
	filter: alpha(opacity=50);
 	-moz-opacity:0.8;
 	opacity:0.8;
		color:white;
		font-size:20px;
		line-height:80px;
		text-align:center;
		font-family: 'Cinzel', serif;
font-family: 'Arizonia', cursive;
}