@CHARSET "UTF-8";

* {
	text-decoration:none;
}

html {
	width:100%;
}

body {
	width:100%;
}

#header {
	border-top-width: 0;
/*  	width:100%; */
	height:auto;
	weight:100%;
 	background-image:url("../images/header4.gif");
 	filter: alpha(opacity=50);
 	-moz-opacity:0.8;
 	opacity:0.8;
	margin-bottom: 100px;
    padding-bottom:15px;
}

a {
	color:white;
}

#headerLogo {
	position: relative;
	width:150px;
margin:0 auto;
/* 	top: 10px; */
    font-color:white;
	font-size:50px;
	font-weight:700px;
	font-family: 'Cinzel', serif;
font-family: 'Arizonia', cursive;
/* font-family: 'Cormorant Garamond', serif; */
/* font-family: 'PT Serif', serif; */
/*  */
}

#headerSearch {
/* 	float:left; */
position:relative;
left:600px;
bottom:10px;
}

.right-list{
	font-family: 'Cinzel', serif;
font-family: 'Arizonia', cursive;
/* 	position:relative; */
/* 	right:630px; */
/* 	bottom:55px; */
margin:0 auto;
}

ul {
	width:100%;
list-style: none;
height:35px;

padding:0;

margin:0;

}

#liContainer {
	width:500px;
	height:auto;
	margin:0 auto;
}


li {
	float:right;
	box-sizing:border-box;
	margin-right:15px;
	font-size:13px;
}


button.button1 {
/* 文字サイズを1.emに指定 */
    font-size: 1em;
    /* 文字の太さをboldに指定 */
    /*font-weight: bold; */
    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 5px 30px;
    /* 文字色を白色に指定 */
    color: white;
    /* ボーダーをなくす */
    border-style: none;
    /* ボタンの影の指定
     * 影の横幅を2px
     * 縦長を2px
     * ぼかしを3px
     * 広がりを1px
     * 色を#666（グレー）に指定 */
     box-shadow: 2px 2px 3px 1px #ffffff;
     -moz-box-shadow: 2px 2px 3px 1px #ffffff;
    -webkit-box-shadow: 2px 2px 3px 1px #ffffff;
    /* テキストの影の指定
     * 影の横幅を1px
     * 縦長を1px
     * ぼかしを2px
     * 色を#000（黒）に指定 */
    text-shadow: 1px 1px 2px #000;
     background-color: #000000;
   /* グラデーションの指定 */
     background: -moz-linear-gradient(bottom, #36d, #000000 50%, #36d);
     background: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(0.5, #ffffff), to(#000));
     font-family: 'Cinzel', serif;
}

button.button1:hover {
    background-color: #000000;
    /* 文字色を白色に指定 */
    color: #fff;
    opacity: 0.8;
}


}
/* #headerLogin { */
/* 	float:left; */
/* 	position:relative; */
/* left:270px; */
/* bottom:20px; */
}

/* #headerLogout { */
/* 	float:left; */
/* ; */
/* } */

/* #headerCart { */
/* /* 	float:left; */ */

/* } */

/* #headerMypage { */
/* /* 	float:left; */ */

/* } */

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
