@CHARSET "UTF-8";

#form-title{
	color:white;
/* 		margin-left:2.5%; */
/* 	margin-right:2.5%; */
/* 	margin-top:50px; */
/* 	margin-bottom:50px; */
}

#form-box{
	margin-left:2.5%;
	margin-right:2.5%;
/* 	margin-top:50px; */
	margin-bottom:50px;
	padding-top:50px;
}

.submit_btn_box{
	margin:0 auto;
	text-align:center;
	margin-top:25px;
	padding-bottom:25px;
}

.moji-box{
	color:white;
		margin:0 auto;
	text-align:center;
	padding-top:50px;
	padding-bottom:25px;
	margin-left:2.5%;
	margin-right:2.5%;
	margin-bottom:25px;
	font-size:20px;
}
.moji{
/* 	padding-top:50px; */
/* 	padding-bottom:25px; */
	margin-left:2.5%;
	margin-right:2.5%;
	margin-bottom:25px;
}

.error-message{
	color:red;
	float:right;
}

