@CHARSET "UTF-8";

#wrapper {
	position:relative;

	width:21.25%;
	height:auto;

	margin-top:5%;
	margin-bottom:5%;
	margin-left:8.5%;

	border:1px solid white;

	float:left;

	color:white;
}

/*全体を囲う*/
/* #productList {
	width:100%;
	height:auto;

	margin-top:30px;
} */

/*商品*/
#products {
	position:relative;
	width:30%;
	height:auto;
	box-sizing:border-box;
	margin-left:2.5%;
	margin-bottom:20px;
	padding:5px;

	float:left;

	border:1px solid black;
}

/*ボーダーの比率*/
.ratio-1_1:before {
	content: "";
	display: block;
	padding-top: 100%; /* ratio */
}

/*画像を囲う*/
#imageContainer {
	/* position:absolute;
	top: 0;
	left: 0;
	width:100%;
	height:70%; */
}

/*画像*/
#image {
	position: absolute;

	/* top:50%;
	left:50%;

	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%); */

	max-width:100%;
	max-height:100%;

}

/*商品詳細*/
#productDetail {
	text-align:center;
}

/*価格*/
#price {
	color:black;
}

#product {
	position:absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

/* for modern brouser */
		.clearfix:after {
		  content: ".";
		  display: block;
		  clear: both;
		  height: 0;
		  visibility: hidden;
		}
		/* IE7,MacIE5 */
		.clearfix {
		  display: inline-block;
		}
		/* WinIE6 below, Exclude MacIE5 \*/
		* html .clearfix {
		  height: 1%;
		}
		.clearfix {
		  display: block;
		}
		/**/