@CHARSET "UTF-8";

/*--------------- Confirmの確認文字---------------------- */
#top-text{
	color:white;
	text-align:center;
	padding-top:50px;
	font-size:30px;

}
/* --------------------登録フォーム系------------------- */
#form-title{
	color:white;

}

#form-box{
	margin-left:2.5%;
	margin-right:2.5%;
	margin-bottom:50px;
	padding-top:50px;


}

/* ----------------エラーメッセージ------------------------- */
.error-message{
	color:red;
	float:right;
}


/*--------------------------- ボタン系------------------------- */

.submit_btn_box{

	text-align:center;
	padding-bottom:25px;


}
#contents-btn-set{
	margin-left:10px;


}

/* ----------------------Completeの文字--------------------- */

.moji-box{
	color:white;
		margin:0 auto;
	text-align:center;
	padding-top:50px;
	padding-bottom:25px;
	margin-left:2.5%;
	margin-right:2.5%;
	font-size:20px;
}
.moji{

	margin-left:2.5%;
	margin-right:2.5%;
	margin-bottom:25px;
}



#form-text{
/* 	position: absolute; */

/* 	top:50%; */
/* 	left:50%; */

/* 	-webkit-transform: translate(-50%,-50%); */
/* 	-moz-transform: translate(-50%,-50%); */
/* 	-ms-transform: translate(-50%,-50%); */
/* 	-o-transform: translate(-50%,-50%); */
/* 	transform: translate(-50%,-50%); */

/* 	max-width:100%; */
/* 	max-height:100%; */
}
