@CHARSET "UTF-8";


	/* ========TAG LAYOUT======== */

		* {
			font-family:'Hiragino Kaku Gothic Pro W3','Hiragino Kaku Gothic ProN',Meiryo,sans-serif;
			text-decoration:none;
		}

		body {
			text-align:center;
			margin:0 auto;
			padding:0;
			line-height:1.6;
			letter-spacing:1px;
			font-family:Verdana,Helvetica,sans-serif;
			color:#333;
			backgroud:#fff;
		}

table {
/* 			text-align:center; */
			margin:0 auto;
		}


	/* ========ID LAYOUT======== */
		#top {
			width:780px;
			margin:30px auto;
			border:1px solid #333;
		}

		#main {
			width:100%;
			height:auto;
			text-align:center;
		}
.register_box{
	width:95%;
	padding-top:50px;
	padding-bottom:25px;
}

		.member_form_title {

			float:left;
/* 			padding-left:100px; */
		}
.member_form_text{
	margin:0 auto;
}

/* .member_btn{ */
/* 	padding-bottom:100px; */
/* } */
		.mandatory {
			color:red;


			float:right;
		}


